//Fonts

@font-face {
  font-family: 'Gilroy';           /* название одно */
  src: url('../fonts/Gilroy-ExtraBold.otf'); /* разные файлы */
  font-weight: 700;              /* разная плотность */
  font-style: normal;
}

@font-face {
  font-family: 'Gilroy';           /* название одно */
  src: url('../fonts/Gilroy-Light.otf'); /* разные файлы */
  font-weight: 300;              /* разная плотность */
  font-style: normal;
}

a{
  text-decoration: none;
}

// Global
h1, h2, h3, h4, h5, h6{
  font-family: "Gilroy", sans-serif;
  font-weight: 700;
  font-size: 64px;
}

.btn{
  width: 285px;
  height: 75px;
  background-color: #5BA43A;
  border: none;
  color: #fff;
  display: block;

  font-family: "Rubik", sans-serif;
  font-size: 16px;
  text-align: center;
  line-height: 75px;
  text-transform: uppercase;

}

p{
  font-family: "Rubik", sans-serif;
}

.line{
  margin: 0 0 60px 0;
  width: 200px;
  height: 6px;
  background-color: #C6E0BA;
  border: none;
}

.block{
  width: 1250px;
  margin: 0 auto;
}

//Nav
.header__wrap{
  padding: 0 60px 0 60px;

  nav{
    padding: 25px 0 25px 0;
    display: flex;
    justify-content: space-between;
    
    .nav__elements{
      font-family: "Rubik", sans-serif;
      display: flex;
      justify-content: space-between;
      width: 60%;

      .nav__element{
        font-size: 18px;
        line-height: 55px;

        a{
          color: #000000;
        }
      }
      
      
    }

    .nav__btn{
      .btn_nav{
        width: 250px;
        height: 55px;
        font-size: 14px;
        line-height: 55px;
      }
    }
  }
}

.gray-line{
  border: 1px solid #ADC5E9;
}

//Main

.main{

  .main__info{
    padding-top: 150px;
    width: 500px;

    .main__conf{
      margin-bottom: 50px;
      font-family: "Gilroy", sans-serif;
      font-weight: 700;
      font-size: 18px;
    }

    .main__title{
      font-size: 36px;
      margin-bottom: 20px;
      line-height: 1.15;
    }

    .btn_info{
      margin-bottom: 75px;
    }

    .main__date{
      margin-bottom: 30px;
      display: block;

      font-family: "Gilroy", sans-serif;
      font-weight: 700;
      font-size: 24px;
    }

    .main__address{
      width: 210px;

      line-height: 1.4;
      font-size: 14px;
    }
  }
}

//For whom

.for-whom:after{
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: url("../image/for_whom_bg_white.png");
  background-repeat: repeat-x;
  top: 65%;

}

.for-whom{
  padding-top: 60px;
  padding-bottom: 250px;
  background-image: url("../image/for_whom_bg.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
  overflow: hidden;


  .for-whom__title{
    margin-bottom: 40px;
  }

  .for-whom__line{
    margin-bottom: 65px;
  }

  .list-prof{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    .list-prof__element{
      margin-bottom: 80px;
      margin-right: 3%;
      width: 30%;
      display: flex;
      align-items: flex-start;

      font-family: "Rubik", sans-serif;
      font-weight: 300;
      font-size: 22px;
      line-height: 1.4;
      
      span{
        line-height: 1;
        margin-right: 40px;
        font-family: "Gilroy", sans-serif;
        font-weight: 300;
        font-size: 64px;
        color: #C6E0BA;
      }

      .list-prof__text{
        width: 300px;
      }
    }
  }

  .for-whom__buttons{
    display: flex;
    justify-content: space-around;
  }
}

// SECTIONS

.sections{
  padding-top: 60px;
  padding-bottom: 80px;
  .sections__p{
    margin-bottom: 30px;
    font-family: "Gilroy", sans-serif;
    font-weight: 700;
    font-size: 22px;
  }

  .sections__title{
    margin-bottom: 40px;
  }

  .list-sections__line{
    margin-bottom: 60px;
  }

  .list-sections{

    .list-sections__element{
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    .list-sections__info{
      width: 50%;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
      padding: 0 50px 0 50px;

      .list-sections__title{
        font-size: 22px;
        margin-bottom: 10px;
      }

      .list-sections__text{
        font-size: 22px;
        line-height: 1.4;
        font-weight: 300;
      }
    }

    .list-sections__bg{
      width: 50%;
      height: 420px;
      background-image: url("../image/sections-1.png");
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
    }

    .list-sections__bg_left{
      order: -1;
    }
  }
}

